{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="cart-container">
            <div class="items-list">
                    <div class="cart-heading-list">
                        <div><h3> Item</h3></div>
                        <div><h3> Price</h3></div>
                        <div><h3> Quantity</h3></div>
                        <div><h3> Total</h3></div>
                    </div>
                    <hr>
                    {% for item in items %}
                        <div class="cart-item">
                            <div style="flex:2">
                                <img class="row-image" src="{{item.product.imageURL}}"> 
                                <div style="flex:1">{{item.product.name}} </div>
                            </div>
                            <div style="flex:1;">₹ {{item.product.price|floatformat:2}}</div>
                            <div style="flex:1">
                                <img class="minus update-cart" data-product={{item.product.id}} data-action="remove" src="{% static  'images/minus.svg' %}"> 
                                <p class="quantity">{{item.quantity}}</p>
                                <img class="plus update-cart" data-product={{item.product.id}} data-action="add" src="{% static  'images/plus.svg' %} "  > 
                               
                            </div>
                            <div style="flex:1">₹ {{item.get_total|floatformat:2}}</div>
                        </div>

                    {% endfor %}
            </div>
            <hr>
            <div class="summary">
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ₹ {{order.get_cart_total}}</h5>
                <a href="{% url 'checkout' %}">Checkout</a>
            </div>


    </div>
{% endblock %}