{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="checkout-container">
  <div class="info-container">
    <div id="form-wrapper">
      <form action="#" id="form">
        <div id="user-info">
          <h4>User Information</h4>
          <div class="form-field">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name..."
              required
            />
          </div>
          <div class="form-field email-f">
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Email..."
              required
            />
          </div>
        </div>
        <div id="shipping-info">
          <h4>Shipping Information</h4>
          <div class="form-field">
            <input
              type="text"
              name="address"
              class="form-control"
              placeholder="Address..."
              required
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              name="city"
              class="form-control"
              placeholder="City..."
              required
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              name="state"
              class="form-control"
              placeholder="State..."
              required
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              name="zipcode"
              class="form-control"
              placeholder="Zip code..."
              required
            />
          </div>
          <div>
            <button type="submit" id="form-button">Continue</button>
          </div>
        </div>
        <div class="box-element hidden" id="payment-info">
          <button id="make-payment">Pay with    <img src="{% static 'images/paytm-logo.png' %}">
          </button>
        </div>
        <div class="box-element hidden" id="payment-info2">
          <button id="make-payment2">Pay with Debit / Credit Card </button>
        </div>
      </form>
    </div>
  </div>

  <div class="order-summary">
    <h4>Order Summary</h4>
    <hr>
    <div class="cart-heading-list">
      <div><h3>Item</h3></div>
      <div><h3>Price</h3></div>
      <div><h3>Quantity</h3></div>
      <div><h3>Total</h3></div>
    </div>
    <hr>
    {% for item in items %}
    <div class="cart-row">
      <div style="flex: 2">
        <img src="{{item.product.imageURL}}" class="row-image" />
      </div>
      <div style="flex: 1"><p>{{item.product.name}}</p></div>
      <div style="flex: 1"><p>₹ {{item.product.price|floatformat:2}}</p></div>
      <div style="flex: 1"><p>{{item.quantity}}</p></div>
    </div>
    {% endfor %}
    <hr>
    <h5>Items: {{order.get_cart_items}}</h5>
    <h5>Total: ₹ {{order.get_cart_total|floatformat:2}}</h5>
  </div>
  <script type="text/javascript">
    var shipping = "{{order.shipping}}";
    var total = "{{order.get_cart_total}}";

    if (shipping == "False") {
      document.getElementById("shipping-info").innerHTML = "";
    }else{
      document.getElementById("user-info").innerHTML = "";
    }

    if (shipping == "False" && user != "AnonymousUser") {
      document.getElementById("payment-info").classList.remove("hidden");
      document.getElementById("payment-info2").classList.remove("hidden");
    }

    var form = document.getElementById("form");

    form.addEventListener("submit", function (e) {
      e.preventDefault();
      console.log("Form submitted...");
      document.getElementById("form-button").classList.add("hidden");
      document.getElementById("payment-info").classList.remove("hidden");
      document.getElementById("payment-info2").classList.remove("hidden");
    });

    document
      .getElementById("make-payment")
      .addEventListener("click", function (e) {
        submitFormData();
      });

      document
      .getElementById("make-payment2")
      .addEventListener("click", function (e) {
        submitFormData();
      });

    function submitFormData() {
      console.log("Payment button clicked");

      var userFormData = {
        name: null,
        email: null,
        total: total,
      };

      var shippingInfo = {
        address: null,
        city: null,
        state: null,
        zipcode: null,
      };

      if (shipping != "False") {
        shippingInfo.address = form.address.value;
        shippingInfo.city = form.city.value;
        shippingInfo.state = form.state.value;
        shippingInfo.zipcode = form.zipcode.value;
      }
      if (user == "AnonymousUser") {
        userFormData.name = form.name.value;
        userFormData.email = form.email.value;
      }
      var url = "/process_order/";
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Success:", data);
          alert("Transaction completed");
          cart = {};
          document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
          window.location.href = "{% url 'store' %}";
        });
    }
  </script>

  {% endblock %}
</div>
