<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Login</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'images/logo5.svg' %}">


</head>

<body class="light login-body">
	<div class="login-container">
		<div class="site-info">
			<div>
				<h1>Welcome to</h1>
				<h2>MedsCart</h2>
			</div>
			<a href="{% url 'store' %}">

				<img src="{% static 'images/logo5.svg' %}" class="logo-svg-login">
			</a>
		</div>
		<div class="login-form">
			<h2>Login</h2>
			<div class="form-container">
				<form method="POST">
					{% csrf_token %}
					<div class="input-group">
						<input type="text" name="username" placeholder="Username" required>
					</div>

					<div class="input-group">
						<input type="password" name="password" placeholder="Password" required>
					</div>

					<div class="login-btn-div">
						<input class="login_btn" type="submit" value="Login">
					</div>
				</form>
			</div>
			<div class="messages">
				{% for message in messages %}
				<p id="messages">{{message}}</p>
				{% endfor %}
			</div>

			<div class="sign-up-link">
				Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
			</div>
		</div>
	</div>
</body>
<script>
	const theme = localStorage.getItem('theme');

if(theme){
  document.body.classList.add(theme);
}
</script>
</html>