{%  extends 'store/main2.html' %}

{% block content %}

{%  include 'store/status.html' %}

<br>
<style>
	body{
		background-color: #ebeff5;
	}
	#total-orders{
		background-color: #4cb4c7;
	}
	#orders-delivered{
		background-color: #7abecc;
	}
	#orders-pending{
		background-color: #7CD1C0;
	}
	img{
		height: 150px;
  		width: 150px;
	}
</style>

<div class="row">

	<div class="col-md-7">
		<h5>MY ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Name</th>
					<th>Date Ordered</th>
					<th>Product Quantity</th>
					<th>Product Price</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>
							<div class="image-container">
                				<img src="{{order.product.imageURL}}" class="thumbnail">
            				</div>
						</td>
						<td>{{order.product}}</td>
						<td>{{order.date_added}}</td>
						<td>{{order.quantity}}</td>
						<td>{{order.get_total}}</td>
						<td>{{order.status}}</td>

					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}