<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Register</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'images/logo5.svg' %}">
  </head>
  <body class="light login-body">
    <div class="register-container">
      <div class="login-form">
        <h2>Register Account</h2>
        <div class="form-container">
          <form method="POST">
            {% csrf_token %}
            <div class="input-group">{{form.username}}</div>
            <div class="input-group">{{form.email}}</div>
            <div class="input-group">{{form.password1}}</div>
            <div class="input-group">{{form.password2}}</div>

            <div class="login-btn-div">
              <input class="login_btn" type="submit" value="Register Account" />
            </div>
          </form>
        </div>
        <div class="messages">{{form.errors}}</div>

        <div class="sign-up-link">
          Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>

    <script>
      //Query All input fields
      var form_fields = document.getElementsByTagName("input");
      form_fields[1].placeholder = "Username";
      form_fields[2].placeholder = "Email";
      form_fields[3].placeholder = "Enter password";
      form_fields[4].placeholder = "Re-enter Password";
      console.log(form_fields);
      for (var field in form_fields) {
        form_fields[field].className += " form-control";
      }
    </script>
    <script>
      const theme = localStorage.getItem("theme");

      if (theme) {
        document.body.classList.add(theme);
      }
    </script>
  </body>
</html>
