{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    

    <div class="items">
        {% if msg|length != 0 %}
        <script>
            alert('{{msg}}');
            window.location.href = "/";

        </script>
        {% endif %}        
        <script>
            function anony_check(){
                if(user === 'AnonymousUser'){
                    location.href="/login/"
                }
            }
        </script>

        {% for product in products %}
        <div class="item">            
            <div class="image-container">
                <img src="{{product.imageURL}}" class="thumbnail">
            </div>
            
            <div class="product">
                <h4>{{product.name}}</h4>
                <h5>₹ {{product.price|floatformat:2}}</h5>
                    <br>
                <button data-product="{{product.id}}" data-action="add" class="add-btn update-cart" onclick="anony_check()">Add to cart</button>
                <!-- <button class="view-btn"> 
                    <a href="#">View</a> 
                </button> -->
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

<script src="{% static 'js/cart.js' %}" type="text/javascript"></script>