@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color-light: #ebeff5;
  --light-card: #d2dbd1;
  --primary-color-dark: #12181b;
  --dark-card: #2a2e35;
  --black: #000;
  --white: #fff;
  --orange: #ee6123;
  --blue: #22b0f1;
  --green: #1a881f;
  --red: #e2514e;
  --blue-1:#3718ff;
  --blue-2:#a799ff;
  --card-l-2: #a6afa6;
  --card-d-2: #27292c;
}

.light {
  --bg: var(--primary-color-light);
  --text: var(--black);
  --cart-color: var(--black);
  --card: var(--light-card);
  --display-card: var(--card-l-2);
  --table-heading:var(--blue-1);
}

.dark {
  --bg: var(--primary-color-dark);
  --text: var(--white);
  --cart-color: var(--white);
  --card: var(--dark-card);
  --display-card: var(--card-d-2);
  --table-heading:var(--blue-2);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-svg {
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

.search .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .form-control {
  border: none;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  padding-left: 1rem;
}

.search .search-btn {
  height: 2.5rem;
  width: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search .search-btn img {
  height: 1.2rem;
  width: 1.2rem;
}

.hello-msg {
  font-size: 1.2rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.nav-links .logout {
  color: #ff1717;
  font-weight: bold;
}

.nav-links .login {
  color: #0066ff;
  font-weight: bold;
}

.cart-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--text);
  -webkit-transition: color 1000ms ease-in-out;
  transition: color 1000ms ease-in-out;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  fill: var(--cart-color);
  -webkit-transition: fill 1000ms ease-in-out;
  transition: fill 1000ms ease-in-out;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  padding-top: 4px;
}

.light-btn,
.dark-btn {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.light-btn svg {
  color: #5f6366;
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
}

.dark-btn svg {
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
  color: #5f6366;
}

.light-btn svg:hover {
  color: #fff;
}

.dark-btn svg:hover {
  color: #000;
}

.navbar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links {
  width: 40%;
}

.hidden {
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5rem 0;
}

.row .card {
  width: 20rem;
  text-align: center;
  border-radius: 20px;
  color: #000;
}

.row .card-header {
  padding: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.row .card-header h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.row .card-body {
  padding: 1.25rem;
}

.row #total-orders {
  background-color: #2d91e2;
}

.row #orders-delivered {
  background-color: #2de263;
}

.row #orders-pending {
  background-color: #e2c12d;
}

.col-md-12 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-md-12 h5 {
  text-align: center;
  font-size: 2rem;
}

.table {
  background-color: var(--card);
  border-radius: 20px;
  width: 90%;
  margin-top: 1.5rem;
}

.table tr {
  color: var(--text);
  text-align: center;
}

.table th {
  color: var(--table-heading);
  font-size: 1.4rem;
}

.table th,
.table td {
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.445);
}

.table th {
  padding: 1rem;
}

img {
  height: 150px;
  width: 150px;
}

.green {
  color: #2de263;
}

.blue {
  color: #2d91e2;
}
/*# sourceMappingURL=orders.css.map */