@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color-light: #ebeff5;
  --light-card: #d2dbd1;
  --primary-color-dark: #12181b;
  --dark-card: #2a2e35;
  --black: #000;
  --white: #fff;
  --orange: #ee6123;
  --blue: #22b0f1;
  --green: #1a881f;
  --red: #e2514e;
  --blue-1:#3718ff;
  --blue-2:#a799ff;
  --card-l-2: #a6afa6;
  --card-d-2: #27292c;
}

.light {
  --bg: var(--primary-color-light);
  --text: var(--black);
  --cart-color: var(--black);
  --card: var(--light-card);
  --display-card: var(--card-l-2);
  --table-heading:var(--blue-1);
}

.dark {
  --bg: var(--primary-color-dark);
  --text: var(--white);
  --cart-color: var(--white);
  --card: var(--dark-card);
  --display-card: var(--card-d-2);
  --table-heading:var(--blue-2);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-svg {
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

.search .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .form-control {
  border: none;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  padding-left: 1rem;
}

.search .search-btn {
  height: 2.5rem;
  width: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search .search-btn img {
  height: 1.2rem;
  width: 1.2rem;
}

.hello-msg {
  font-size: 1.2rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.nav-links .logout {
  color: #ff1717;
  font-weight: bold;
}

.nav-links .login {
  color: #0066ff;
  font-weight: bold;
}

.cart-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--text);
  -webkit-transition: color 1000ms ease-in-out;
  transition: color 1000ms ease-in-out;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  fill: var(--cart-color);
  -webkit-transition: fill 1000ms ease-in-out;
  transition: fill 1000ms ease-in-out;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  padding-top: 4px;
}

.light-btn,
.dark-btn {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.light-btn svg {
  color: #5f6366;
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
}

.dark-btn svg {
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
  color: #5f6366;
}

.light-btn svg:hover {
  color: #fff;
}

.dark-btn svg:hover {
  color: #000;
}

.container {
  width: 80%;
  margin: auto;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  width: 18rem;
  height: 24rem;
  margin: 2rem 1rem;
  border-radius: 20px;
  background-color: var(--card);
}

.image-container {
  width: 16rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.display-image {
  position: fixed;
  background-color: var(--display-card);
  width: 53rem;
  height: 33rem;
  display: none;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display-image .close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

.display-image .display-img-container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
  width: 47rem;
  height: 27rem;
}

.display-image .display-img-container img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.product {
  width: 16rem;
  margin: 1rem;
}

.product h4 {
  font-size: 1.1rem;
}

.product h5 {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  color: var(--red);
}

.add-btn {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  outline: none;
}

.cart-container {
  width: 100%;
  margin: auto;
  background-color: var(--card);
  border-radius: 20px;
}

.cart-heading-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.cart-heading-list div h3 {
  color: var(--table-heading);
  padding: 1rem;
  font-size: 1.7rem;
}

.cart-heading-list div:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.cart-heading-list div:nth-child(2n) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-heading-list div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0rem;
  text-align: center;
}

.cart-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}

.row-image {
  width: 10rem;
  height: 7rem;
  margin-left: 2rem;
  border-radius: 20px;
}

.minus,
.plus {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0rem 0.8rem;
  cursor: pointer;
}

.summary {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary h5 {
  font-size: 1.4rem;
  padding: 1rem;
  color: #ff8800;
}

.summary a {
  background: #82bae9;
  color: #000;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.checkout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkout-container #shipping-info,
.checkout-container #user-info {
  background: var(--card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 30rem;
}

.checkout-container #shipping-info h4,
.checkout-container #user-info h4 {
  font-size: 1.8rem;
  padding: 1.2rem;
}

.checkout-container #shipping-info div,
.checkout-container #user-info div {
  width: 100%;
  padding: 1.4rem 1.4rem 0 1.4rem;
}

.checkout-container #shipping-info div input,
.checkout-container #user-info div input {
  width: 100%;
  height: 2.4rem;
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.checkout-container #shipping-info .email-f,
.checkout-container #user-info .email-f {
  margin-bottom: 2rem;
}

.checkout-container #form-button {
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.checkout-container #payment-info button {
  min-width: 30rem;
  height: 2.8rem;
  cursor: pointer;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
  -webkit-box-align:center;
        -ms-flex-align:center;
             align-items:center;
}

.checkout-container #payment-info2 button {
  min-width: 30rem;
  height: 2.8rem;
  cursor: pointer;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.checkout-container #payment-info button img {
  margin-left: 1rem;
  padding-top: 0.1rem;
  width: 5rem;
  height: 1.7rem;
}

.checkout-container .order-summary {
  background: var(--card);
  margin: 1rem;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.checkout-container .order-summary .back-to-cart {
  width: 10rem;
  height: 3rem;
  background-color: #82bae9;
  text-align: center;
  padding: 1rem;
  margin: 1.4rem;
  pointer-events: all;
}

.checkout-container .order-summary a {
  color: #000;
  pointer-events: none;
  text-decoration: none;
}

.checkout-container .order-summary h4 {
  font-size: 2rem;
  padding: 1.4rem;
  text-align: center;
}

.checkout-container .order-summary .cart-heading-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-container .order-summary .cart-heading-list div h3 {
  padding: 1rem;
  font-size: 1.3rem;
}

.checkout-container .order-summary .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.checkout-container .order-summary h5 {
  padding: 0 0 1rem 1.4rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.login-body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  background-color: var(--card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
}

.site-info {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30rem;
  min-width: 25rem;
}

.site-info h1 {
  font-size: 3rem;
  padding: 1.3rem;
}

.site-info h2 {
  font-size: 2.6rem;
  padding-bottom: 1rem;
}

.site-info img {
  height: 15rem;
  width: 15rem;
}

.site-info div {
  margin-top: 2rem;
}

.login-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 25rem;
}

.login-form h2 {
  font-size: 2.6rem;
  padding: 1.3rem;
  margin-top: 2rem;
}

.login-form .form-container {
  width: 80%;
  margin: 0 auto;
}

.login-form .form-container div {
  margin: 1rem;
}

.login-form .form-container input {
  width: 100%;
  height: 2.4rem;
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.login-form .form-container .login_btn {
  cursor: pointer;
  background-color: var(--blue);
  font-size: 1.3rem;
  height: 3rem;
}

.login-form .messages {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: red;
  margin-left: 2rem;
}

.login-form .sign-up-link {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.login-form .sign-up-link a {
  color: #3883e6;
}

.register-container {
  width: 35%;
  background-color: var(--card);
  border-radius: 20px;
}

@media only screen and (max-width: 1330px) {
  .nav-links {
    width: 20%;
  }
  .nav-links a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */